.container{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    background-color: peru;
}
.title{
    font-size: 24px;
    font-style: oblique;

}
.subtitle{
    font-size: 10px;
    font-style: italic;
    background-color: rgb(231, 172, 114);
}
.description{
    background-color: beige;
    padding: 5px 5px;
    background-color: rgb(247, 157, 67);
}
.price{
    padding: 15px;
}
.genre{
    padding: 10px;
}
.author{
    padding: 15px ;
}
